<br/>
<h2 class="ui center aligned large header">
Welcome to Directtly Message - <em> Complete Chat App</em>
</h2>

<h4 class="ui center aligned medium ico header">
    <i class="circular orange power off tiny icon"></i>
    Log in to Continue...
</h4>

<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        <div class="column">
            <%= form_for(:session, html:{class: "ui form", role: "form"}, url: login_path) do |f| %>
                <div class="field">
                    <%= f.label :username, "Username" %>
                    <div class="ui left icon input">
                        <%= f.text_field :username, placeholder: "Username" %>
                        <i class="user icon"></i>
                    </div>
                </div>
                  <div class="field">
                    <%= f.label :password, "Password" %>
                    <div class="ui left icon input">
                        <%= f.password_field :password, placeholder: "Password" %>
                        <i class="lock icon"></i>
                    </div>
                  </div>
                  <%= f.button "Login", class: "ui orange submit button" %>
                  <% end %>
        </div>
        <div class="middle aligned column">
            <div class="ui big orange disabled button">
                <i class="signup icon"></i>
                Sign Up
            </div>
        </div>
    </div>
</div>
