<!DOCTYPE html>
<html>
    <head>
        <title>Directtly</title>
        <%= csrf_meta_tag %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    </head>

    <body>

        <div class="ui small inverted menu">
            <div class="ui container">
                <%= render 'layouts/navigation' %>
            </div>
        </div>
        <div class="ui container">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>
    </body>
</html>
